.TopToolbar {    
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
    background-color: #e74c3c;
    box-sizing: border-box;
    user-select: none;
    }